.latest-results-label {
  font-size: 0.875rem;
  color: #000;
  font-weight: 600;
}

.latest-results-section {
  background-color: #00529e;
  border-radius: 4px;
  margin-right: 8px;
  padding: 8px;
  min-width: 210px;
  opacity: 0.8;
}

.latest-results-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.latest-result-date {
  margin-top: 0.75rem;
  grid-column: 1;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.latest-result-description {
  margin-top: 0.75rem;
  grid-column: 2;
}

.latest-result-fixture {
  font-weight: 600;
  margin: 0;
}

.latest-result-result {
  margin: 0;
  font-style: italic;
}

.latest-result-report {
  color: #fff;
  margin-left: 1rem;
}

.latest-result-report a {
  color: #fff;
}

.latest-result-scorecard {
  color: #fff;
}

.latest-result-description .latest-result-single-line {
  display: none;
}

@media screen and (min-width: 768px) {
  .latest-results-section {
    min-width: auto;
  }

  .latest-result-description {
    display: flex;
  }

  .latest-result-description .latest-result-fixture,
  .latest-result-description .latest-result-result {
    display: none;
  }
  .latest-result-description .latest-result-single-line {
    display: block;
    flex: 1;
    margin: 0;
  }
}