.fixtures-container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.fixtures-list {
  display: none;
}

.fixtures-label {
  font-size: 0.875rem;
  color: #000;
  font-weight: 600;
}

.fixture {
  background-color: #00529e;
  border-radius: 4px;
  margin-right: 8px;
  padding: 8px;
  min-width: 210px;
  opacity: 0.8;
}

.fixture-date-team {
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
  margin: 0;
  display: flex;
}

.fixture-date {
  flex: 1;
}

.fixture-competition-preview {
  margin-top: 8px;
  display: flex;
}

.fixture-competition {
  margin: 0;
  flex: 1;
}

.fixture-details-link {
  color: #fff;
}

.fixture-sponsor {
  height: 2rem;
  margin-top: -0.875rem
}

@media screen and (min-width: 768px) {
  .fixtures-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .fixtures-list {
    display: block;
  }
  .fixtures-swipeable {
    display: none;
  }
  .fixture {
    min-width: auto;
  }
}

.fixture-description {
  text-align: center;
}
