.page {
  height: 100%;
  background-color: #0072ce;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scroll-container {
  position: relative;
  background-image: url('/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 16px;
  min-height: 100%;
}

main {
  position: relative;
  padding-left: 16px;
  color: #fff;
}
